.App {
  text-align: center;
}

.countryContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
  padding: 10px;
}

body {
  background: rgb(204, 203, 203);
}

.loginForm {
  border: 1px solid #999;
  background-color: #dedede;
  padding: 8px;
  border-radius: 4px;
  position: absolute;
  width: 300px;
  top: 65px;
  left: 8px;
}